@charset "UTF-8";
.p-index__logo{
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  @include mq(){
    width: 20%;
    margin-top: 3rem;
    margin-left: 0;
  }
}
.p-index__title{
  font-size: 1.25rem;
  line-height: 2rem;
  @include mq(){
    font-size: 1.75rem;
  }
}
.p-index__browser{
  text-align: left;
  font-size: 1.25rem;
  margin-top: 2rem;
}
.p-index__list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  @include mq(){
    margin-top: 1rem;
  }
}
.p-index__item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 2rem;
  margin-top: 0;
  img{
    max-width: 70px;
    @include mq(){
      max-width: 100px;
    }
  }
}
@media screen and (max-width: 1145px) {
  .p-index__item{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 876px) {
  .p-index__item{
    min-width: 258px;
  }
}
.p-index__service{
  margin-left: 1rem;
  text-align: left;
  line-height: 1.75rem;
}
.p-index__offer{
  font-size: 0.8rem;
  font-weight: normal;
  a:hover{
    opacity: 0.7;
  }
}
.p-index__company{
  font-weight: bold;
}
