@charset "UTF-8";
.u-sp{
  display: block !important;
  @include mq(){ display: none !important;}
}
.u-pc{
  display: none !important;
  @include mq(){
     display: block !important;
     &.-inline { display: inline-block !important;}
    }
}
.u-hide{
  visibility:hidden !important;
  opacity:0 !important;
}
.u-show{
  visibility:visible !important;
  opacity:1 !important;
}
