@charset "UTF-8";
// 余白の種類はS,M,Lなどの抽象的な命名をする
//【NG例】.u-mt_10{margin-top:10px !important;}　←これはだめ

.u-mt-xs {
  margin-top: 5px !important;
}
.u-mt-s {
  margin-top: 8px !important;
}
.u-mt-sm {
  margin-top: 10px !important;
}
.u-mt-m {
  margin-top: 15px !important;
}
.u-mt-l {
  margin-top: 30px !important;
}
.u-mt-ll {
  margin-top: 35px !important;
}
.u-mt-xl {
  margin-top: 40px !important;
}
.u-mx-s {
  margin-right: 10px;
  margin-left: 10px;
}
.u-ml-xs {
  margin-left: 5px !important;
}
.u-ml-m {
  margin-left: 10px !important;
}
@include mq() {
  .u-mt-s {
    margin-top: 10px !important;
  }
  .u-mt-sm {
    margin-top: 15px !important;
  }
  .u-mt-m {
    margin-top: 20px !important;
  }
  .u-mt-l {
    margin-top: 40px !important;
  }
  .u-mt-ll {
    margin-top: 60px !important;
  }
  .u-mt-xl {
    margin-top: 80px !important;
  }
  .u-ml-xs {
    margin-left: 8px !important;
  }
  .u-ml-m {
    margin-left: 30px !important;
  }
}

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.u-pb-0 {
  padding-bottom: 0 !important ;
}
.u-pt-s {
  padding-top: 8px !important;
}
.u-pl-m {
  padding-left: 10px !important;
}
.u-px-m {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.u-py-s {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
@include mq() {
  .u-pt-s {
    padding-top: 10px !important;
  }
  .u-pl-m {
    padding-left: 15px !important;
  }
  .u-px-m {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .u-py-s {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
}

.u-mp-header {
  padding-top: $header-height;
  margin-top: -$header-height;
  @include mq() {
    padding-top: $header-height_pc;
    margin-top: -$header-height_pc;
  }
}