@charset "UTF-8";

// .u-c_white{color:#fff !important;}
// .u-bg_white{background-color:#fff !important;}
// .u-relative{position:relative !important;}

.u-fadein {
  opacity : 0;
  transform: translateY(24px);
  transition: 1s;
}