@charset "UTF-8";

// .u-tac{text-align: center !important;}
// .u-tal{text-align: left !important;}
// .u-tar{text-align: right !important;}
// .u-taj{text-align: justify !important;}
// .u-gothic{font-family:$gothic !important;}
// .u-mincho{font-family:$mincho !important;}
// .u-f_bold{font-weight:bold !important;}
// .u-f_normal{font-weight:normal !important;}
// .u-ls0{letter-spacing: 0 !important;}
