@charset "UTF-8";
//フォント ---------------------------------
// googlefont
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap');
// WEBfont
// @font-face {
//     font-family:"Antro_Vectra";
//     src:url("../fonts/Antro_Vectra.otf") format("woff"),
//     url("../fonts/Antro_Vectra.otf") format("opentype"),
//     url("../fonts/Antro_Vectra.otf") format("truetype");
// }

//ゴシックと明朝の定義 ---------------------
$gothic: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;


//色 -------------------------------------
$blue: #009DBE;
$black: #363636;
$black02: #414040;
$white: #fff;
$grey: #8a7974;
$grey02: #e6e6e6;
$grey03: #f1efee;
$grey04: #d1d1d1;
$grey05: #f6f6f6;
$brown: #330c00;
$brown02: #a38572;
$brown03: #6a1d00;
$red: #a12a2a;
$yellow: #FFFF00;
// $brown04: #ded6d4;

$main-c: $blue; //メインカラー
$base-c: $grey02; //ベースカラー
$accent-c: $yellow; //アクセントカラー
$border-c: $grey02;
$border02-c: $grey04;
// $border02-c: $brown04;
$bg-c: $grey05;
$footer-c: $black02;
// $num-c: $grey03;

$font-c: $main-c;
$c-box: #ffffffcc;
$line-black: #363636a3;
$bg-color: #eeeeee !default;

//ボタンサイズ ----------------------------
$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;

//コンテンツ幅 ----------------------------
$content-width: 1650px;
$content-width-sm: 850px;

//ブロック間余白 --------------------------
$block-padding: 30px;
$block-padding_pc: 60px;

//ヘッダー高さ --------------------------
$header-height: 60px;
$header-height_pc: 90px;

//ベースフォントサイズ ---------------------
$base-font-size: 16;

//ブレークポイント ------------------------
// $win-xs: 320px;//スマホ（小）iphone SEなど
// $win-sm: 500px;//スマホ
// $win-md: 768px;// タブレット（小）
// $win-sub: 832px;// タブレット（中）ipad
// $win-lg: 1024px;// タブレット（大）ipad pro
// $win-xl: 1200px;// PC コンテンツ幅のmax-width

$win_xs: 320px;// スマホ（小）iphone SEなど
$win_s: 768px;// SP ~ tab
$win_m: 1024px;// tab ~ PC
$win_l: $content-width;// PC版コンテンツ幅

$breakpoints: (
  'xs': 'screen and (min-width: 320px)',
  'ss': 'screen and (min-width: 500px)',
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1250px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// SP横画面用
@mixin ld{
  @media (orientation: landscape) and (max-height: 640px){
    @content;
  }
}
// @include mq(){}
