.c-arrow {
  position: absolute;
  right: 10%;
  top: 50%;
  display: inline-block;
  padding: 0 0 0 16px;
  color: $white;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  
  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
}

.c-arrow.-right::before {
  width: 15px;
  height: 15px;
  border-top: 3px solid $white;
  border-right: 3px solid $white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-arrow.-acordion:before,
.c-arrow.-acordion:after {
  background-color: $white;
  border-radius: 10px;
  position: absolute;
  width: 18px;
  height: 3px;
  top: 7px;
  left: 0;
}
.c-arrow.-acordion:before {
  width: 3px;
  height: 18px;
  top: 6px;
  left: 7px;
}