.c-box {
  position: relative;
  padding: 40px 25px;
  max-width: 950px;
  width: 90%;
  background-color: $c-box;
  @include mq() {
    width: 100%;
    padding: 50px 30px;
  }
  @include mq(lg) {
    width: 80%;
    padding: 70px 50px;
  }

  &.-center {
    text-align: center;
    margin: 0 auto;
  }

}