@charset "UTF-8";
.c-button {
  // text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &.-color {
    color: $font-c;
  }
  &.-white {
    color: $white !important;
  }
  &.-bgwhite {
    background-color: $white !important;
  }
  &.-bgcolor {
    background-color: $blue !important;
  }
  &.-trans {
    background-color: transparent;
  }
  &.-nowrap {
    white-space: nowrap;
  }

}

.c-button.-light {
  background-color: transparent;
  border: solid 1px $blue;
  font-size: 1.2rem;
  padding: 10px 40px;
  @include mq() {
    padding: 10px 60px;
  }
}
.c-button.-primary {
  background-color: $main-c;
  color: $white;
  @include mq() {
    padding: 20px 18px;
    @include ld{
      padding: 10px;
      & .c-text {
        font-size: 1.2rem;
        line-height: 1.8;
      }
    }
  }
}
.c-button.-secondary {
  background-color: $accent-c;
  color: $font-c;
  @include mq() {
    padding: 20px 18px;
    @include ld{
      padding: 10px;
      & .c-text {
        font-size: 1.2rem;
        line-height: 1.8;
      }
    }
  }
}
.c-button.-header {
  display: block;
  border: solid 1px $white;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}
.c-button.-footer {
  display: inline-block;
  border: solid 1px $white;
  padding: 10px;
  width: 48%;
  font-size: rem(14);
  @include mq() {
    width: 70%;
    font-size: rem(18);
  }

  &.-contact {
    background-color: $white;
  }
}
.c-button.-imgbk1 {
  position: relative;
  width: 48%;
  @include mq() {
    width: 32%;
  }
}
.c-button.-imgbk2 {
  position: relative;
  width: 48%;
  @include mq() {
    width: 40%;
  }
}

.c-button.-bold {
  font-weight: 700;
}

.c-button.-close {
  display: inline-block;
  vertical-align: middle;
  color: $blue;
  line-height: 1;
  width: 3em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }
}

.c-button.-totop {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 60px;
  @include mq() {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  & img {
    width: 60%;
    margin: 0 auto;
  }
}

.c-button.-hover1 {  
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}
.c-button.-hover2 {  
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
.c-button.-hover3 {  
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translateY(-0.5em);
  }
}
.c-button.-hover4 {  
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}