.c-circle.-sinuous1 {
  background-color: $main-c;
  border: 5px solid $main-c;
  animation: sinuous 5.5s linear infinite;
  width: 270px;
  height: 270px;
  margin: 60px auto;
}
.c-circle.-sinuous2 {
  background-color: $main-c;
  border: 5px solid $main-c;
  animation: sinuous 6.5s linear infinite;
  width: 270px;
  height: 270px;
  margin: 60px auto;
}
.c-circle.-sinuous3 {
  background-color: $main-c;
  border: 5px solid $main-c;
  animation: sinuous 6.2s linear infinite;
  width: 270px;
  height: 270px;
  margin: 60px auto;
}
.c-circle.-sinuous4 {
  background-color: $main-c;
  border: 5px solid $main-c;
  animation: sinuous 5.8s linear infinite;
  width: 270px;
  height: 270px;
  margin: 60px auto;
}

@keyframes sinuous {
  0% {border-radius: 65% 60% 70% 80% / 60% 65% 60% 70%; }
  25% {border-radius: 70% 65% 65% 90% / 70% 80% 60% 90%; }
  60% {border-radius: 65% 60% 70% 65% / 60% 65% 60% 65%; }
  75% {border-radius: 90% 65% 60% 70% / 70% 60% 80% 60%; }
  100% {border-radius: 65% 60% 70% 80% / 60% 65% 60% 70%; }
}
