.c-image {
  &.-hide {
    display: none;
  }

  &.-tile {
    height: auto !important;
    object-fit: contain;
  }

  &.-font {
    height: 18px;
    display: inline-block;
  }

  &.-animation1 {
    animation-name: y-axis-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
  }
  &.-animation2 {
    animation-name: y-axis-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
  }
  &.-animation3 {
    animation-name: y-axis-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
  }
  &.-scaleAnimation {
    animation-name: scale;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: .5s;
  } 

  &.-bika {
    position: absolute;
    width: 12%;
    top: -2%;
    right: -2%;
    @include mq() {
      width: 9%;
      top: -7%;
      right: -4%;
    }
  }
  &.-pencil {
    position: absolute;
    width: 25%;
    bottom: -2%;
    left: -5%;
    @include mq() {
      width: 20%;
      bottom: 7%;
      left: -2%;
    }
  }
  &.-light {
    position: absolute;
    width: 15%;
    top: 25%;
    right: 8%;
    @include mq() {
      width: 8%;
      top: 0%;
      right: 90%;
    }
    @include mq(lg) {
      width: 6%;
      top: -10%;
      left: 21%;
    }
  }
  &.-candle {
    position: absolute;
    width: 16%;
    bottom: 16%;
    right: 80%;
    @include mq() {
      width: 9%;
      bottom: -13%;
      right: 3%;
    }
    @include mq(lg) {
      width: 6%;
      bottom: -30%;
      right: 22%;
    }
  }
  &.-bell {
    position: absolute;
    width: 20%;
    bottom: -4%;
    right: -4%;
    @include mq() {
      width: 15%;
      bottom: 20%;
      right: -6%;
    }
  }
  &.-abc {
    position: absolute;
    width: 20%;
    top: -20%;
    left: 10%;
    @include mq() {
      width: 16%;
      top: -30%;
    }
  }
  &.-tobibako {
    position: absolute;
    width: 12%;
    top: -25%;
    right: 15%;
    @include mq() {
      width: 7%;
      top: -23%;
      right: 23%;
    }
  }
  &.-basketball {
    position: absolute;
    width: 12%;
    bottom: 3%;
    right: 6%;
    @include mq() {
      width: 10%;
      bottom: -5%;
      right: 0%;
    }
  }
  &.-palet {
    position: absolute;
    width: 23%;
    bottom: 76%;
    left: 0%;
    transform: rotate(-2deg);
    @include mq() {
      width: 15%;
      bottom: -12%;
      left: -4%;
    }
  }
  &.-onpu {
    position: absolute;
    width: 16%;
    top: 11%;
    right: 4%;
    transform: rotate(2deg);
    @include mq() {
      width: 8%;
      top: 35%;
      right: 5%;
    }
  }
  &.-rula {
    position: absolute;
    width: 17%;
    bottom: -3%;
    right: 40%;
    @include mq() {
      width: 14%;
      bottom: -16%;
      right: 34%;
    }
  }
}

@keyframes y-axis-animation {
  0% {
      transform: translate(0,0px);
  }

  100% {
      transform: translate(0,-15px);
  }
}
@keyframes scale {
  0% {
      transform: scale(0);
  }

  100% {
      transform: scale(1);
  }
}