.c-link {
  display: block;

  &:focus {
    outline: none;
  }
  & .-changeBgcolor {
    transition: background .3s ease-in-out;
  }
  &:hover {
    .-changeBgcolor {
      background: linear-gradient(180deg, transparent 0%, transparent 60%, $accent-c 60%, $accent-c 100%);
    }
  }
  &.-bold {
    font-weight: 700;
  }
  &.-md {
    font-size: rem(15);
  }
  &.-lg {
    font-size: rem(18);
  }
  & .-centerLine {
    position: relative;
    &:hover::after {
      transform: scale(1, 1);
    }
  }
  & .-centerLine::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: $black;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
  }
}

.c-link.-header {
  border-bottom: solid 1px $white;
  padding: 20px;
  position: relative;
  transition: all .3s ease-in-out;

  &:hover {
    .c-text {
      color: $font-c !important;
    }
    .c-arrow::before {
      border-color: $main-c;
    }
    background-color: $accent-c;
  }
}

.c-link.-footer {
  &:hover {
    opacity: 0.6;
  }
}
