.c-modal {
  z-index: z(modal);
  @include ld {
    z-index: z(overlay);
  }
}
 
.c-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.c-modal__container {
  background-color: $c-box;
  padding: 20px;
  width: auto;
  max-width: 80vw;
  @include mq() {
    min-width: 550px;
    max-width: 600px;
  }
  border-radius: 2px;
  overflow: visible;
  box-sizing: border-box;
  border: solid 1px $blue;
}
 
.c-modal__header {
  position: relative;
  justify-content: space-between;
  align-items: center;

  & .c-modal__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 32px;
    background-image: url(../images/yokosukagakuin_logo_wide.svg);
    background-size: contain;
    background-repeat: no-repeat;
    @include mq() {
      background-image: url(../images/yokosukagakuin_logo.svg);
      width: 20%;
      height: 80px;
    }
  }
  & .c-modal__close {
    position: absolute;
    top: 0;
    right: -15px;
    transition: opacity .3s;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
 
.c-modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: $font-c;
  box-sizing: border-box;
}
 
.c-modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}
 
.c-modal__header .modal__close:before { content: "\2715"; }
 
.c-modal__content {
  position: relative;
  line-height: 1.5;
  text-align: center;
  margin-top: 70px;
  min-height: 150px;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  @include mq() {
    margin-top: 80px;
    padding: 0 20px;
  }

  & .c-modal__img {
    position: absolute;
    width: 23%;
    top: -40px;
    right: -15%;
    @include mq() {
      width: 150px;
      top: -120px;
      right: 10%;
    }
  }
}
 
.c-modal__button {
  font-size: 4vw;
  padding: 10px 15px;
  @include mq() {
    font-size: 20px;
    padding: 10px 30px;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.c-modal {
  display: none;
}

.c-modal.is-open {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-modal[aria-hidden='false'] .c-modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-modal[aria-hidden='false'] .c-modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-modal[aria-hidden='true'] .c-modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-modal[aria-hidden='true'] .c-modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-modal .c-modal__container,
.c-modal .c-modal__overlay {
  will-change: transform;
}
[data-micromodal-trigger].is-inactive {
  pointer-events: none;
}