.c-swiper-main {
  overflow: initial;

  .swiper-pagination {
    position: relative;
    transform: rotate(90deg);
    left: -64%;
    top: -42%;
    @include mq() {
      left: -51%;
      top: -80%;
    }
  }
  .swiper-pagination-bullet {
    margin: 0 0.2rem;
  }

  .swiper-img {
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100vh;
    
    &.-main1 {
      background-image: url(../images/top_mv1_sp.png);
      @include mq() {
        background-image: url(../images/top_mv1.png);
      }
    }
    &.-main2 {
      background-image: url(../images/top_mv2_sp.png);
      @include mq() {
        background-image: url(../images/top_mv2.png);
      }
    }
    &.-main3 {
      background-image: url(../images/top_mv3_sp.png);
      @include mq() {
        background-image: url(../images/top_mv3.png);
      }
    }
    &.-main4 {
      background-image: url(../images/top_mv4_sp.png);
      @include mq() {
        background-image: url(../images/top_mv4.png);
      }
    }
    &.-main5 {
      background-image: url(../images/top_mv5_sp.png);
      @include mq() {
        background-image: url(../images/top_mv5.png);
      }
    }
  }
}