@charset "UTF-8";
.c-text {
  font-size: rem(14);
  color: $black;
  letter-spacing: 0.05em;
  @include mq() {
    font-size: rem(18);
  }

  &.-color {
    color: $font-c;
  }
  &.-white {
    color: $white;
  }
  &.-border {
    border-bottom: 1px solid;
  }
  &.-bold {
    font-weight: bold;
  }
  &.-center {
    text-align: center;
  }
  &.-left {
    text-align: left;
    @include mq() {
      text-align: center;
    }
  }
  &.-rotate {
    display: inline-block;
    transform: rotate(90deg);
  }
  &.-vertical {
    @include mq() {
      writing-mode: vertical-rl;
    }

    .dot {
      display: inline-block;
      @include mq() {
        transform: translateX(5px);
      }
    }
  }
  &.-space {
    letter-spacing: 1.5;
    line-height: 2;
  }
  &.-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $font-c;
    // font-size: rem(14);
    // @include mq() {
    //   font-size: rem(25);
    // }
  }
  &.-nowrap {
    white-space: nowrap;
  }

  &.-xs {
    font-size: rem(10);
    line-height: 1.4;
    @include mq(lg) {
      font-size: rem(11);
    }
    @include mq(xl) {
      font-size: rem(12);
    }
  }
  &.-sm {
    font-size: rem(12);
    line-height: 1.4;
    @include mq() {
      font-size: rem(14);
    }
  }
  &.-mmd {
    font-size: rem(14);
    line-height: 1.7;
    @include mq() {
      font-size: rem(16);
    }
  }
  &.-md {
    font-weight: 700;
    font-size: rem(15);
    line-height: 1.4;
    @include mq() {
      font-size: rem(18);
    }
  }
  &.-lg {
    font-weight: 700;
    font-size: rem(16);
    line-height: 1.2;
    @include mq() {
      font-size: rem(20);
    }
  }
  &.-big {
    font-weight: 700;
    font-size: rem(20);
    line-height: 1.2;
    @include mq() {
      font-size: rem(25);
    }
  }

}