@charset "UTF-8";
.c-title {
  font-size: 6vw;
  color: $main-c;
  @include mq() {
    font-size: rem(30);
  }
  &.-color {
    color: $font-c;
  }
  &.-border {
    border-bottom: 1px solid;
  }
  &.-white {
    color: $white;
  }
  &.-center {
    text-align: center;
  }
  &.-xs {
    font-size: rem(16);
    @include mq() {
      font-size: rem(18);
    }
  }
  &.-sm {
    font-weight: 500;
    font-size: 4.5vw;
    @include mq() {
      font-size: rem(20);
    }
  }
  &.-mmd {
    font-size: 5vw;
    @include mq() {
      font-size: rem(22);
    }
  }
  &.-md {
    font-size: 6vw;
    @include mq() {
      font-size: rem(25);
    }
    .sub {
      display: block;
      font-size: 0.6em;
    }
  }
  &.-ll {
    font-weight: 400;
    font-size: 7vw;
    line-height: 1;
    @include mq() {
      font-size: rem(30);
    }
    .sub {
      display: block;
      font-size: 0.6em;
    }
  }
  &.-lg {
    font-weight: 400;
    font-size: 8vw;
    @include mq() {
      font-size: rem(40);
    }
    .c-title_main {
      line-height: 1.4;
    }
  }

  &.-bold {
    font-weight: 700;
  }

}