@charset "UTF-8";

html{
  font-size: $base-font-size + px;
  text-underline-position: under;
  // scroll-behavior: smooth;
}
body{
  font-family:$gothic;
  font-weight:400;
  line-height:1.6;
  width:100vw;
  overflow-x:hidden;
  letter-spacing: 0.05em;
  // IE
  &.ua-ie{
    font-family:"メイリオ", "Meiryo",sans-serif;
  }
}
p,dt,dd,tr,th,td,li{
  color:$black;
}
a{
  text-decoration: none;
  color:$color_main;
  cursor: pointer;
}
img{
  display: block;
}
span,i{
  font-size:inherit;
  color:inherit;
  letter-spacing:inherit;
  line-height:inherit;
}
/*-------フォントサイズ---------*/
p,dt,dd,
tr,th,td,
li,a{font-size:rem(14);}//（）内にpxの数値を入れるとremに変換される
h2{font-size:rem(25);}


@include mq(sp){
  h2{font-size:rem(30);}
}

@include mq() {
  body,p,dt,dd,
  tr,th,td,
  li,a{font-size:rem(16);}
  h2{font-size:rem(45);}
  h3{font-size:rem(20);}
  h4{font-size:rem(18);}
  h5{font-size:rem(17);}
}
// @include mq(pc) {
//   h2{font-size:rem(45);}
// }
/*--------文字間--------*/
p,dt,dd,
tr,th,td,
li,a{letter-spacing: .1em;}
h2{letter-spacing: .12em;}

// 
// ::-webkit-scrollbar {
//   display: none;
//   -webkit-appearance: none;
//   appearance: none;
// }
