@charset "UTF-8";
// シャドウ
@mixin shadow{
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}
// 疑似要素用
@mixin ba{
  content:"";
  display: inline-block;
}
// センタリング
@mixin ab_c{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
