@charset "UTF-8";

/*=================
フォント
=================*/
// googlefont
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap');

// WEBfont
// @font-face {
//     font-family:"Antro_Vectra";
//     src:url("../fonts/Antro_Vectra.otf") format("woff"),
//     url("../fonts/Antro_Vectra.otf") format("opentype"),
//     url("../fonts/Antro_Vectra.otf") format("truetype");
// }

//ゴシックと明朝の定義
$gothic:"A1 Gothic M","Noto Sans Japanese","Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$mincho:"Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

/*=================
色
=================*/
//色のリスト
$blue:#0077e1;
$black:#000;
$grey:#f5f5f5;

//用途別に変数をセット
$color-main:$blue;

/*=================
コンテンツ幅
=================*/
$inner-width:90vw;
$inner-max-width:1050px;

/*=================
ブロック間余白
=================*/
$wrapper-padding:3rem 0 2.5rem;
$wrapper-padding_pc:6.5rem 0;

/*=================
ベースフォントサイズ
=================*/
$base-font-size:16;

/*=================
メディアクエリ
=================*/
//画面サイズ
// $win-xs: 320px;//スマホ（小）iphone SEなど
// $win-sm: 500px;//スマホ
// $win-md: 768px;// タブレット（小）
// $win-sub: 832px;// タブレット（中）　ipad
// $win-lg: 1024px;// タブレット（大）ipad pro
// $win-xl: 1200px;// PC コンテンツ幅のmax-width

$win_xs: 320px;// スマホ（小）iphone SEなど
$win_s: 768px;// SP ~ tab
$win_m: 1024px;// tab ~ PC
$win_l: $inner-max-width;// PC版コンテンツ幅

$breakpoints: (
'sp': 'screen and (min-width:' +($win_xs + 1)+ ')',
'tab': 'screen and (min-width:' +($win_s + 1)+ ')',
'pc': 'screen and (min-width:' +($win_m + 1)+ ')',
'cont': 'screen and (min-width:' +($win_l + 1)+ ')'
) !default;

@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// @include mq(){}
