@charset "UTF-8";
.p-front-page{ 
}
.p-front-page__top {
  min-height: 100vh;

  .side-content {
    position: relative;
    width: 23%;
    min-height: 100vh;
  }
  .side-content__title {
    position: absolute;
    font-size: 7vh;
    line-height: 1.2;
    top: 10%;
    left: 30%;
    font-weight: 700;
    color: $font-c;
    white-space: nowrap;
    @include mq() {
      font-size: 10vh;
      top: 53%;
      left: 30%;
    }
    z-index: 2;
  }
  .side-content__line {
    position: absolute;
    height: 36%;
    bottom: -5%;
    left: 50%;
    border-left: solid 1px #C6C6C6;
    @include mq() {
      height: 85%;
      top: 20%;
      left: 60px;
    }
  }
  .side-content__animation {
    position: absolute;
    bottom: 22%;
    left: 25%;
    animation: move-y 1s infinite alternate ease-in-out;
    display: inline-block;
    padding: 10px 0;
    @include mq() {
      top: 30%;
      left: 35px;
    }
  }
  @keyframes move-y {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100px);
    }
  }
  .side-content__img {
    position: absolute;
    width: 85%;
    bottom: 50%;
    left: 30%;
    @include mq() {
      width: 11vh;
      top: 38%;
      left: 50%;
    }
    @include mq(lg) {
      width: 13vh;
      top: 34%;
      left: 38%;
    }
    z-index: 2;
  }
  .swiper-container {
    width: 77%;
  }
}
.p-front-page__about {
  background-image: url(../images/about-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  @include mq() {
    padding: 80px 50px;
  }
}
.p-front-page__study {
  background-color: #FFFF70;
  padding-top: 100px;
  padding-bottom: 160px;
  @include mq() {
    padding: 130px 50px;
  }

}
.p-front-page__education {
  background-image: url(../images/education-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 0;
  @include mq() {
    padding: 80px 50px;
  }
}
.p-front-page__school {
  background-image: url(../images/school-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  @include mq() {
    padding: 80px 50px;
  }
}
.p-front-page__admission {
  background-image: url(../images/admission-bg.png);
  background-size: cover;
  background-position: 50% 95%;
  background-repeat: no-repeat;
  padding: 30px 0;
  height: 620px;
  @include mq() {
    padding: 70px 50px;
    background-size: auto;
  }
}
.p-front-page__images {
  padding-top: 80px;
  @include mq() {
    padding: 80px 50px;
  }
}
