@charset "UTF-8";

/*=============================
基本のレイアウト
=============================*/
.l-wrapper{
  padding:$wrapper-padding;
}
[class*="l-inner"]{
  width:$inner-width;
  margin:0 auto;
  position:relative;
}
.l-inner{
  max-width:$inner-max-width;
}
