@charset "UTF-8";
/*
Utility
hepler 汎用クラス
※濫用しない。一要素に対して、3つ以上使用する場合は、クラスの切り出しを検討する。
※内容はプロジェクトに合わせて調整する。
*/
/*=============================
表示・非表示
=============================*/
.u-sp{
  display: block !important;
  @include mq(){ display: none !important;}
}
.u-pc{
  display: none !important;
  @include mq(){ display: block !important;}
}

.u-hidden{
  visibility:hidden !important;
  opacity:0 !important;
}
