@charset "UTF-8";
/*
Utility
hepler 汎用クラス
※濫用しない。一要素に対して、3つ以上使用する場合は、クラスの切り出しを検討する。
※内容はプロジェクトに合わせて調整する。
*/
/*=============================
余白　margin padding
=============================*/
.u-mt_s{margin-top:10px !important;}
.u-mt_m{margin-top:20px !important;}
.u-mt_l{margin-top:50px !important;}

@include mq(){
  .u-mt_l{margin-top:70px !important;}
}
