@charset "UTF-8";

//レイアウト
.l-body {
}
.l-wrapper {
  padding: $block-padding 3%;
  @include mq() {
    padding: $block-padding_pc 0;
  }
}

.l-inner {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  @include mq() {
    max-width: $content-width;
  }
  &.-sm {
    max-width: 430px;
    @include mq() {
      max-width: $content-width-sm;
    }
  }
  &.-xs {
    max-width: 430px;
    @include mq() {
      max-width: 650px;
    }
  }
}
.l-cont-inner {
  width: calc(100% - 20px);
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  &.-xs {
    @include mq() {
      width: 80%;
    }
  }
  &.-sm {
    @include mq() {
      width: 90%;
    }
  }
  &.-md {
    @include mq() {
      width: 95%;
    }
  }
}
.l-full-inner {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  &.-sm {
    max-width: $content-width-sm;
  }
}
.l-head + .l-body {
  margin-top: 30px;
}
.l-head + .l-body-md {
  margin-top: 20px;
}

.l-flex {
  display: flex;
  &.-rev {
    flex-direction: row-reverse;
  }
  .-column {
    flex-direction: column;
  }
  &.-wrap {
    flex-wrap: wrap;
  }
  &.-a-center {
    align-items: center;
  }
  &.-a-start {
    align-items: flex-start;
  }
  &.-center {
    justify-content: center;
  }
  &.-between {
    justify-content: space-between;
  }
  &.-even {
    justify-content: space-evenly;
  }
  &.-gap {
    justify-content: space-between;
    .l-col-2 {
      width: calc(100% / 2 - 3px);
    }
    .l-col-3 {
      width: calc(100% / 3 - 3px);
    }
    .l-col-2-3 {
      width: calc(100% / 2 - 3px);
      margin-top: 5px;
      @include mq() {
        width: calc(100% / 3 - 5px);
      }
    }
    .l-col-1-2 {
      width: 100%;
      margin-top: 5px;
      @include mq() {
        margin-top: 0;
        width: calc(100% / 2 - 5px);
      }
    }
    .l-col-2-4 {
      width: calc(100% / 2 - 3px);
      margin-top: 5px;
      @include mq() {
        margin-top: 0;
        width: calc(100% / 4 - 5px);
      }
    }
    .l-col-2-5 {
      width: calc(100% / 2 - 3px);
      margin-top: 5px;
      @include mq() {
        margin-top: 0;
        width: calc(100% / 5 - 5px);
      }
    }
    .l-col-2-6 {
      width: calc(100% / 2 - 3px);
      margin-top: 5px;
      @include mq() {
        margin-top: 0;
        width: calc(100% / 6 - 5px);
      }
    }
  }
  &.-gap-l {
    justify-content: space-between;
    .l-col-1-2 {
      width: 100%;
      margin-top: 10px;
      @include mq() {
        width: calc(100% / 2 - 10px);
      }
    }
  }

  .l-col-2 {
    width: calc(100% / 2);
  }
  .l-col-3 {
    width: calc(100% / 3);
  }
  .l-col-5 {
    width: calc(100% / 5);
  }
  .l-col-1-2 {
    width: calc(100% / 1);
    @include mq() {
      width: calc(100% / 2);
    }
  }
  .l-col-2-3 {
    width: calc(100% / 2);
    @include mq() {
      width: calc(100% / 3);
    }
  }
}
.l-grid {
  display: grid;
  &.-gap {
    grid-gap: 5px;
    @include mq() {
      grid-gap: 10px;
    }
  }
  &.-gap-s {
    grid-gap: 2.5px;
    @include mq() {
      grid-gap: 5px;
    }
  }
  &.-gap-m {
    grid-gap: 15px;
    @include mq() {
      grid-gap: 20px;
    }
  }
  &.-gap-l {
    grid-gap: 20px;
    @include mq() {
      grid-gap: 25px;
    }
  }
  &.-col2 {
    grid-template-columns: 1fr 1fr;
  }
  &.-col3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.-col4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.-col5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &.-col1-2 {
    grid-template-columns: 1fr;
    @include mq() {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.-col1-4 {
    grid-template-columns: 1fr;
    @include mq() {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &.-col2-3 {
    grid-template-columns: 1fr 1fr;
    @include mq() {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &.-col2-4 {
    grid-template-columns: 1fr 1fr;
    @include mq() {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &.-col3-4-5 {
    grid-template-columns: 1fr 1fr 1fr;
    @include mq() {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include mq(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  // &.-row2 {
  //   grid-auto-flow: column;
  //   grid-template-rows: 1fr 1fr;
  // }
  // &.-row2-3 {
  //   grid-auto-flow: column;
  //   grid-template-rows: 1fr 1fr;
  //   @include mq() {
  //     grid-template-rows: 1fr 1fr 1fr;
  //   }
  // }
}
.l-grid_child {
  width: 100%;
}

.l-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}
.l-viewport {
  overflow: hidden;
  max-width: 100vw;
}
.l-container {
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  overflow: hidden;
  
  @include mq() {
    max-width: $content-width;
    min-height: 1600px;
  }
  @include mq(xl) {
    overflow: visible;
  }
}

.l-container_main {
  padding-top: $header-height;
  @include mq() {
    // padding: $header-height_pc 5% 0 22%;
    padding: $header-height_pc 3% 0 25%;
  }
}
.l-container_noside-main {
  padding-top: $header-height;
  @include mq() {
    padding-top: $header-height_pc;
  }
}
.l-container_side {
  display: none;
  @include mq() {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 22%;
  }
  &.-small {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 5px 3vw;
    pointer-events: none;
    @include mq() {
      padding: 10px;
    }
  }
}
// -------------------------------

.l-columns2-3 {
  columns: 2;
  @include mq() {
    columns: 3;
  }
}
