.l-content {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}
.l-content__list {
  & .l-content__item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 250px;
    margin-top: 50px;
    @include mq() {
      width: 50%;
      min-height: 270px;
    }
    @include mq(lg) {
      width: 25%;
      min-height: 260px;
    }
    transition: all 0.3s ease 0s;
    &:hover {
      transform: translateY(-0.5em);
    }
    & .c-link {
      height: 100%;
      width: 92%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
  }

  & .l-content__item:nth-child(1) {
    position: relative;
  }
  & .l-content__item:nth-child(4) {
    position: relative;
  }
}

.l-content__button {
  max-width: 320px;
}
