@charset "UTF-8";

.l-footer{
  height: auto;
  background-image: url(../images/footer_bg_sp.png);
  @include mq() {
    background-image: url(../images/footer_bg_pc.png);
  }
  background-size: cover;
  background-repeat: no-repeat;

  color: $white;
  font-weight: 300;
  font-size: rem(14);
  margin-bottom: 50px;
  position: relative;
  @include mq() {
    margin-bottom: 0;
  }
  .link {
    text-decoration: none;
  }
  .title {
    font-weight: 600;
    font-size: rem(16);
  }

  .l-footer_content {
    padding: 100px 20px;
    max-width: 1280px;
    margin: 0 auto;
    @include mq() {
      padding: 100px 40px;
    }
  }

  .l-footer_contact {
    width: 90%;
    & .-address {
      margin-top: 30px;
      order: 2;
    }
    & .-buttons {
      order: 1;
    }
    @include mq() {
      width: 30%;
      & .-address {
        margin-top: 0;
        order: 1;
      }
      & .-buttons {
        order: 2;
      }
    }

    & .relative {
      position: relative;
    }

  }

  .l-footer_nav {
    display: none;
  
    @include mq() {
      width: 70%;
      display: grid;
      grid-gap: 10px;
      grid-template:
        'about education school admission' auto;
      .list {
        &.-about {
          grid-area: about;
        }
        &.-education {
          grid-area: education;
        }
        &.-school {
          grid-area: school;
        }
        &.-admission {
          grid-area: admission;
        }
      }
    }
  }

}

.l-footer_facebook {
  position: absolute;
  height: 65%;
  top: 15%;
  right: 20%;
  @include mq() {
    top: 25%;
    right: 10%;
  }
  transition: transform .2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.l-footer-copyright {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  white-space: nowrap;
}