@charset "UTF-8";

.l-header {
  height: $header-height;
  width: 100vw;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 3vw;
  @include mq() {
    height: $header-height_pc;
    padding: 20px;
  }
  &.is-scroll {
    .l-header_logo {
      height: 100%;
      margin-top: 0;
      background-image: url(../images/yokosukagakuin_logo_wide.svg);
    }
  }
}
.l-header_content {
  align-items: center;
  height: 100%;
  position: relative;

  .l-header_nav {
    display: none;
  
    @include mq() {
      width: 70%;
      display: flex;
      & .header-link {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .l-header_logo {
    background-image: url(../images/yokosukagakuin_logo_wide.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    transition: all .3s cubic-bezier(0.14, 0.8, 0.58, 1);
    width: 55%;
    height: $header-height;
    @include mq() {
      width: 17%;
      height: 20vh;
      margin-top: 12vh;
      background-image: url(../images/yokosukagakuin_logo.svg);
    }
  }
  .l-header_facebook {
    height: 35px;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.l-header_hamburger {
  background: none;
  border: none;
  outline: $brown02;
  width: 45px;
  height: 22px;
  padding: 0;
  position: relative;
  & span,
  &::before,
  &::after {
    @include ba;
    width: 80%;
    height: 1px;
    background: $main-c;
    position: absolute;
    right: 0;
    transform-origin: left;
    transition: 0.3s;
  }
  &::before {
    top: 0;
    width: 100%;
  }
  &::after {
    bottom: 0;
    width: 60%
  }
  &.is-active {
    & span {
      background-color: transparent;
    }
    &::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 32px;
      width: 100%;
      transform: rotate(-45deg);
    }
  }
}
.l-header_hamburger-cont {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: $header-height;
  left: 0;
  // padding: 50px 0;
  overflow: auto;
  background-color: $blue;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.6);
  transform: translateX(100vw);
  transition: transform 300ms ease-in-out;
  &.is-open {
    pointer-events: initial;
    transform: translateX(0);
  }
}

.l-header_dropmenu {
  width: 100%;
  height: $header-height_pc;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}
.l-header_dropmenu-item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  // border: 1px solid #f8f8f8;
  // background: #f8f8f8; /* 背景色*/
  & .dropmenu-changeBgcolor {
    position: relative;
    transition: all .5s ease-in-out;
  }
  &:hover {
    .dropmenu-changeBgcolor:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 7px;
      background: -webkit-repeating-linear-gradient(-45deg, $accent-c, $accent-c 2px, $white 2px, $white 4px);
      background: repeating-linear-gradient(-45deg, $accent-c, $accent-c 2px, $white 2px, $white 4px);
    }
    .l-header_dropmenu-links {
      visibility: visible;
      opacity: 1;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
    }
  }
}
.l-header_dropmenu-links {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  margin: 0;
  padding-bottom: 10px;
  background-color: $white;
  transition: opacity .3s ease-in-out;
  // border: 1px solid #222; /* マウスオーバー時の枠線 */

  & .c-link {
    padding: 10px 0;
  }
}


/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 100%;
  max-width: 900px;
  margin:0 auto;
}

.accordion-area section {
border-bottom: 1px solid $white;
}

/*アコーディオンタイトル*/
.accordion-area .acd-title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  color: $white;
  padding: 20px;
  transition: all .5s ease;

  /*アイコンの＋と×*/
  &::before,
  &::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: $white;
  }
  &::before{
    top:48%;
    right: 35px;
    transform: rotate(0deg);
    
  }
  &::after{    
    top:48%;
    right: 35px;
    transform: rotate(90deg);
  }
  /*　closeというクラスがついたら形状変化　*/
  &.close::before{
  transform: rotate(45deg);
  }
  
  &.close::after{
  transform: rotate(-45deg);
  }
}

.acd-link {
  display: block;
  padding: 10px 20px;
  border-bottom: solid 1px $main-c;
}

/*アコーディオンで現れるエリア*/
.acd-box {
  display: none;/*はじめは非表示*/
  background: $white;
}