.l-sidebar {
  position: fixed;
  bottom: 0;
  text-align: center;
  pointer-events: none;
  // width: 100vw;
  height: calc(50px + env(safe-area-inset-bottom)/2);
  background: linear-gradient(90deg, $main-c 0%, $main-c 50%, $accent-c 50%, $accent-c 100%);
  width: 100vw;
  @include mq() {
    right: 0;
    // transform: translateY(-50%);
    width: 65px;
    height: calc(100vh - 90px);
    background: none;
    @include ld {
      margin: 0;
      top: 10%;
      transform: none;
      width: 55px;
    }
  }
}
.l-sidebar_content {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include mq() {
    flex-direction: column;
  }
}
.l-sidebar_button {
  @include mq(){
    margin: 10px 0;
    width: 100%;
    @include ld{
      margin: 0;
    }
  }
  display: grid;
  pointer-events: auto;
  width: 50vw;
  padding-bottom: calc(env(safe-area-inset-bottom)/2);

  &.-toggle {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: -100%;
    border-bottom: solid 1px white;
    padding: 0;
    @include mq() {
      width: 100%;
      border: none;
      position: unset;
      height: unset;
      @include ld {
        position: absolute;
        height: 12em;
        top: 50%;
        transform: translateY(-50%);
        left: -100%;
        border-right: solid 1px white;
      }
    }
  }
}
.l-sidebar_button.-modal {
  position: absolute;
  background-color: transparent;
  right: 1%;
  bottom: 120px;
  width: 140px;
  @include mq() {
    width: 160px;
    bottom: 40px;
    left: -160px;
    @include ld {
      width: 120px;
      bottom: 20px;
      left: -70px;
    }
  }

  &.-hide {
    opacity: 0;
    pointer-events: none;
  }
}