.l-school {
  margin: 0 auto;
  width: 100%;
  position: relative;

  .list {
    min-width: 40%;
    padding: 10px;
    @include mq() {
      min-width: 25%;
      padding: 20px;
    }

    &.-buss {
      position: relative;
    }
  }
}